* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  overflow-x: hidden;
}

#head {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  color: whitesmoke;
  font-family: "Brush Script MT", cursive;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: coral;
  width: 100%;
  overflow: hidden;
}

.color {
  color: white;
}

.nav.items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#dp {
  width: 20px;
  height: 20px;
}
#hero_img {
  background-image: url(/image/bg_image.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.hero_items {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin: auto;
  font-size: 20px; */

  position: relative;
  top: 50%;
  color: rgb(161, 42, 42);
  font-weight: bold;
  margin: auto;
  font-size: 30px;
  text-align: center;
  margin: auto;
  font-family: "Brush Script MT", cursive;

}

#bg_2 {
  background-image: url(/image/bg2.png);
  /* width: 100vw; */
  height: 50vh;
}
.story {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  /* padding-top: 10%; */
}

#story2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 10%;
  margin: auto;
  font-size: 16.8px;
  font-family: sans-serif;
}

.dinner {
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bg3 {
  background-image: url(./image/bg3.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.gallery-item {
  width: 100%;
  position: relative;
}

.gallery-item img {
  width: 100%;
}

.gallery-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
}

.gallery-overlay:hover {
  opacity: 1;
}

#our-gall {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 40px;
}

.gall {
  font-size: 60px;
  font-family: "Brush Script MT", cursive;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 35px;
  text-decoration-thickness: 2px;
  text-decoration-style: double;
}

.line {
  font-size: 70px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}

#rem {
  padding-top: 60px;
}

#wed {
  font-size: 60px;
  font-family: "Brush Script MT", cursive;
  display: flex;
  justify-content: center;
  /* padding-top: 60px; */
  margin-top: 50px;
}

.vw {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-color: brown;
  border-style: solid;
  width: 200px;
  align-content: center;
}
.wed-sec{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  margin-top: 15%;
}

.assist{
  font-size: 70px;
  font-family: sans-serif;
}

.btn{
  background-color:rgb(233, 100, 51);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border-style: double;
  border-width: 9px;
  font-size: 15px;
}

#cere-feat {
  padding-top: 100px;
  /* padding-left: 0%; */
  display: flex;
  text-align: center;
  margin: auto;
  font-size: 30px;
  color: brown;
}

/* #bg4{
   background-color: #E8EAED;
   
} */

.border {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  margin: 20px;
  /* background-color: white; */
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.2);
}
.pre-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120%;
  row-gap: 30px;
}
